<div layout="row">
  <div layout="column" flex="45">
    Wonder Campers is a REI micro-site supporting the thousands of volunteers who plan camping
    and outdoor events for inner city youth. The site includes planning tools to Discover,
    Plan and Share adventures. The concept also extends REI’s successful loyalty program,
    allowing Members to ‘donate’ their REI dividends toward gear and supplies
    for aspiring campers in need.
  </div>
  <div layout="column" flex="45" offset="10">
    <h3></h3>
  </div>
</div>

<div layout="row" layout-wrap class="home-pictures">
  <div layout="column" flex="25">
    <img src="/images/Home_girlHandPaint.jpg" style="width:250px;"><br/>
    <img src="/images/Home_campleaders_group.jpg" style="width:250px;">
  </div>
  <div layout="column" flex="35">
    <img src="/images/Splash-LovingOutdoors.jpg" style="width:300px;">
  </div>
  <div layout="column" flex="40">
    <img src="/images/Home_girlscanoe.jpg" style="width:500px;">
  </div>
</div>









