<h1>
  Wonder Campers
</h1>

<alerts></alerts>

<!--
<table class="table table-hover">
  <thead>
    <tr>
      <th class="col-xs-2" ng-click="orderField='id'" ng-class="{active:(orderField=='id')}">Id</th>
      <th ng-click="orderField='title'" ng-class="{active:(orderField=='title')}">Title</th>
      <th ng-click="orderField='createdAt'" ng-class="{active:(orderField=='createdAt')}">Created</th>
      <th>Owner</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="post in (posts | orderBy : orderField) track by post.id">
      <td class="col-xs-2">{{post.id}}</td>
      <td><a href="/post/{{post.id}}">{{post.title}}</a></td>
      <td>{{post.createdAt | date:'short'}}</td>
      <td>{{post.owner.firstName}}</td>
      <td>
        <a ng-show="post.owner.id==currentUser.id" ng-click="deletePost(post)" class="glyphicon glyphicon-trash"></a>&nbsp;
        <a ng-show="post.owner.id==currentUser.id" ng-click="editPost(post)" class="glyphicon glyphicon-pencil"></a>
      </td>
    </tr>
  </tbody>
</table>
 -->