<div layout="row">
  <div flex="33">
    <md-input-container>
      <div layout="row" layout-align="start center" class="search-input">
        <md-select ng-model="search.state" ng-change="searchRecareas()" placeholder="Select State" class="search-select">
          <md-option ng-repeat="state in searchTables.usStates" value="{{state.abbreviation}}">{{state.name}}</md-option>
        </md-select>
      </div>
    </md-input-container>
    <md-input-container ng-show="recareas">
      <div layout="row" layout-align="start center" layout-wrap class="search-input">
        <md-select ng-model="search.recAreaID" ng-change="searchFacilities()" placeholder="Select Rec Area" class="search-select">
          <md-option ng-repeat="recarea in recareas" value="{{recarea.RecAreaID}}">{{recarea.RecAreaName}} ({{recarea.FACILITY.length}})</md-option>
        </md-select>
        <span ng-show="search.recAreaID" ng-click="searchRecareas()" class="search-reset"><a href="#">reset</a></span>
      </div>
    </md-input-container>

    <form ng-submit="searchQuery()">
      <md-input-container ng-show="recareas" layout="column" id="search-query">
        <input type="text" ng-model="search.query" id="search-query-input" name="text" placeholder="Enter SearchTerm Query">
      </md-input-container>
      <md-input-container ng-show="recareas" layout="column" id="search-query">
        <input type="submit" id="search-query-submit" value="Submit" aria-label="Submit search-term query">
      </md-input-container>
    </form>

    <md-content layout-padding  ng-show="recareas">

      <div layout="row" layout-align="start center">
        <md-checkbox ng-change="campingOnly()" ng-model="search.campingOnly" aria-label="Check for Camping Only">
          Camping Only?
        </md-checkbox>
        <img src="/images/acticon-9.png" class="activity-icon">
      </div>

      <md-grid-list
          md-cols-sm="1" md-cols-md="3" md-cols-gt-md="5"
          md-row-height-gt-md="1:1" md-row-height="1:1"
          md-gutter="6px" md-gutter-gt-sm="4px" >
        <md-grid-tile
            ng-repeat="activity in filterList"
            class="filter-item"
            ng-class="{'activity-filtered':(isFiltered(activity.ActivityID))}">
          <a ng-click="activityClicked(activity.ActivityID)" href="#" aria-label="Click to Filter on {{activity.ActivityName}}"><img src="/images/acticon-{{activity.ActivityID}}.png" class="filter-icon">
            <md-grid-tile-footer layout-align="center end" class="filter-footer">
              <h5>{{activity.ActivityName}}</h5>
            </md-grid-tile-footer>
          </a>
        </md-grid-tile>
      </md-grid-list>
    </md-content>

  </div>


  <md-content flex="66" layout layout-wrap>
    <div ng-show="(!search.state)">
      v0.2.21
      <h3>Welcome to RI Db Search Instructions.</h3>
    </div>

    <div ng-show="(search.state && !search.recAreaID && !search.query)" layout="column" layout-padding layout-margin layout-fill>
      <h3>
        Recreational Areas in <strong>{{ search.state }}</strong>: {{ recareas.length }}
        <div id="loader" ng-if="$root.loading">
           <strong>LOADING...</strong>
        </div>
      </h3>

      <div class="scrollable-md">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="recarea in recareas">
            <div class="md-list-item-text">
              <h3>{{recarea.RecAreaName}} ({{recarea.FACILITY.length}})</h3>
              <p ng-bind-html="recarea.RecAreaDescription | shortDesc"></p>
              <section layout="row" layout-align="start center" layout-wrap offset="5">
                <span ng-repeat="activity in recarea.ACTIVITY">
                  <div layout="row" layout-align="center center" class="activity-item">
                    <img src="/images/acticon-{{activity.ActivityID}}.png" aria-label="{{activity.ActivityName}}" class="activity-icon" onError="this.onerror=null;this.src='/images/icon_blank.png';" />
                    <span class="activity-label">{{activity.ActivityName | char20}}</span>
                  </div>
                </span>
              </section>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </div>
    </div>

    <div ng-show="search.recAreaID || search.query" layout="column" layout-padding layout-margin layout-fill>
      <h3>
        Facilities in <strong>{{ getSearchRAName() }}</strong>: {{ facilities.length }}
        <div id="loader" ng-if="$root.loading">
           <strong>LOADING...</strong>
        </div>
      </h3>

      <md-content class="scrollable-md">
        <md-list>
          <md-list-item class="md-3-line" ng-repeat="facility in facilities">
            <div class="md-list-item-text">
              <h3>{{facility.FacilityName}}</h3>
              <p ng-bind-html="facility.FacilityDescription | shortDesc"></p>
              <section layout="row" layout-align="start center" layout-wrap offset="5">
                <span ng-repeat="activity in facility.ACTIVITY">
                  <div layout="row" layout-align="center center" class="activity-item">
                    <img src="/images/acticon-{{activity.ActivityID}}.png" aria-label="{{activity.ActivityName}}" class="activity-icon" onError="this.onerror=null;this.src='/images/icon_blank.png';" />
                    <span class="activity-label">{{activity.ActivityName | char20}}</span>
                  </div>
                </span>
              </section>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-content>

    </div>
  </md-content>
</div>

