<div layout="row">
  <md-divider flex="33" layout="column" style="background:red;">
    <md-divider layout="row" style="background:yellow;">
      <md-select ng-model="search.state" ng-change="searchRecareas()" placeholder="Select State" class="search-select">
        <md-option ng-repeat="state in searchTables.usStates" value="{{state.abbreviation}}">{{state.name}}</md-option>
      </md-select>
    </md-divider>
    <md-divider layout="column" style="background:orange;">
      <md-divider layout="row">
        <md-divider flex="33">
          <p>Select Rec. Area</p>
        </md-divider>
        <md-divider flex="66">
          <md-select ng-disabled="$root.loading" ng-model="search.recAreaID" ng-change="searchFacilities()" placeholder="Select Rec Area" class="search-select">
            <md-option ng-repeat="recarea in recareas" value="{{recarea.RecAreaID}}">{{recarea.RecAreaName}} ({{recarea.FACILITY.length}})</md-option>
          </md-select>
          <span ng-show="search.recAreaID" ng-click="searchRecareas()" class="search-reset"><a href="#">reset</a></span>
        </md-divider>
      </md-divider> <!-- row -->
      <md-divider layout="row">
        <md-divider flex="33">
          <p>OR Enter Search Term</p>
        </md-divider>
        <md-divider flex="66">
          <form ng-submit="searchQuery()">
            <md-input-container ng-show="recareas" layout="column">
              <input ng-required ng-disabled="$root.loading" type="search" ng-model="search.query" id="search-query-input" name="text" placeholder="OR Enter SearchTerm Query">
            </md-input-container>
            <md-input-container ng-show="recareas" layout="column">
              <input ng-disabled="!search.query" type="submit" id="search-query-submit" value="Submit" aria-label="Submit search-term query">
            </md-input-container>
          </form>
        </md-divider>
      </md-divider> <!-- row -->
      <md-divider layout="row">
        <md-divider flex="33">
          <p>OR Enter Radius & PlaceName</p>
        </md-divider>
        <md-divider flex="66">
          <form ng-submit="searchRadius()">
            <md-input-container ng-show="recareas" layout="column">
              <input ng-required ng-disabled="$root.loading" type="number" ng-model="search.radius" id="search-radius-input" name="radius" placeholder="Miles">
            </md-input-container>
            <md-input-container ng-show="recareas" layout="column">
              <input ng-required ng-disabled="$root.loading" type="text" ng-model="search.placeName" id="search-placename-input" name="raduis" placeholder="Place Name">
            </md-input-container>
            <md-input-container ng-show="recareas" layout="column">
              <input ng-disabled="!search.radius && !search.placeName" type="submit" id="search-query-submit" value="Submit" aria-label="Submit search-term query">
            </md-input-container>
          </form>
        </md-divider>
      </md-divider> <!-- row -->


      <md-content layout-padding  ng-show="recareas">

        <div layout="row" layout-align="start center">
          <md-checkbox ng-disabled="$root.loading" ng-change="campingOnly()" ng-model="search.campingOnly" aria-label="Check for Camping Only">
            Camping Only?
          </md-checkbox>
          <img src="/images/acticon-9.png" class="activity-icon">
        </div>

        <md-grid-list
            md-cols-sm="1" md-cols-md="3" md-cols-gt-md="5"
            md-row-height-gt-md="1:1" md-row-height="1:1"
            md-gutter="6px" md-gutter-gt-sm="4px" >
          <md-grid-tile
              ng-repeat="activity in filterList"
              class="filter-item"
              ng-class="{'activity-filtered':(isFiltered(activity.ActivityID))}">
            <a ng-hide="$root.loading" ng-click="activityClicked(activity.ActivityID)" href="#" aria-label="Click to Filter on {{activity.ActivityName}}">
              <img src="/images/acticon-{{activity.ActivityID}}.png" class="filter-icon">
              <md-grid-tile-footer layout-align="center end" class="filter-footer">
                <h5>{{activity.ActivityName}}</h5>
              </md-grid-tile-footer>
            </a>
          </md-grid-tile>
        </md-grid-list>
      </md-content>



    </md-divider> <!-- column -->
  </md-divider>
  <md-content flex="66" style="background:blue;">
    <h2>Share. coming soon...</h2>
  </md-content>
</div>







