<div class="container" ng-app="WonderCampersApp">
  <div ng-controller="NavCtrl">
    <div class="pull-left">
      <a href="/">Home</a> |
      <a href="/about">About</a>
      <a href="/ridb">Search RI Db</a>
    </div>
    <div class="pull-right">
      User:
      <span ng-if="currentUser">
        {{currentUser.firstName || 'Unknown User'}}
      </span>
      <a ng-click="showLogin()" ng-hide="currentUser">Login</a>
      <a ng-click="logout()" ng-show="currentUser">Logout</a>
   </div>

  </div>

  <ng-view></ng-view>
</div>
