<div class="container" ng-app="WonderCampersApp">
  <div ng-controller="NavCtrl">


    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <img src="/images/REI_logo.gif">
          <span flex="33" class="header-text" layout-align="start end">Wonder Campers</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
          <md-button>
            <span ng-if="currentUser">
              Hello, {{currentUser.firstName || 'Unknown User'}}
            </span>
            <md-button class="md-raised" ng-hide="currentUser"><a ng-click="showSignup($event)">Signup</a></md-button>
            <md-button class="md-raised" ng-hide="currentUser"><a ng-click="showLogin($event)">Login</a></md-button>
            <md-button class="md-raised" ng-show="currentUser"><a ng-click="logout()">Logout</a></md-button>
          </md-button>
        </div>
      </md-toolbar>
      <md-toolbar layout="row" class="navbar">
        <div flex class="navbar-button">
          <div layout="column" layout-align="end center">
            <a href="/" class="navbar-link">Home</a>
          </div>
        </div>
        <div flex class="navbar-button">
          <div layout="column" layout-align="end center">
            <a href="/ridb" class="navbar-link">Discover</a>
          </div>
        </div>
        <div flex class="navbar-button">
          <div layout="column" layout-align="end center">
            <a href="/about" class="navbar-link">About</a>
          </div>
        </div>
      </md-toolbar>
      <md-content>
        <ng-view></ng-view>
      </md-content>
    </div>
  </div>
</div>
