html {
  background-color: white;
}
body {
  margin: 0 20px;
}
.md-toolbar-tools {
  background-color: white;
}
.navbar {
  min-height: 28px;
}
.navbar-button {
  border: 1px solid black;
  background-color: lightgrey;
}
.navbar-link {
  text-decoration: none;
  vertical-align: middle;
  font-size: 0.8em;
  margin-top: 2px;
}
.search-select {
  margin-top: 60px;
  width: 350px;
  background-color: #46522C;
  border-radius: 10px;
}
.search-select * {
  color: #C1C727;
  margin-left:10px;
  margin-bottom: 10px;
}
#search-query {
  width: 86%;
}
#search-query-input {
  /*width: 84%;*/
  border-radius: 10px 10px 0 0;
}
#search-query-submit {
  background-color: #46522c;
  color: #C1C727;
  font-weight: 900;
  font-size: 1.25em;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  height: 40px;
  margin-top: -28px;
  /*width: 86%;*/
}
.result-list {
  /*background-color: yellow;*/
  height: 400px;
  overflow: scroll;
}
md-whiteframe h3 {
  margin-left: 10px;
}
md-whiteframe p {
  margin-left: 20px;
}
.search-result {
  margin: 0 20px 0 20px;
  padding-left: 20px;
}
.search-input {
  height: 25px;
  margin-bottom: 20px;
}
.search-reset {
  font-style: italic;
  font-size: 0.8em;
  margin-left: 5px;
}
filter-item {
  /*height: 200px;*/
}
.filter-footer {
  background-color: inherit;
}
.filter-footer h5 {
  color: black;
  font-size: 0.7em;
  margin-top: 20px;
}
.activity-filtered {
  background-color: #ff5991;
}
.filter-icon {
  width: 25px;
  max-height: 25px;
  padding-bottom: 20px;
}
.activity-item {
  margin-right: 15px;
}
.activity-icon {
  margin: 5px;
  width: 25px;
}
.activity-label {
  font-size: 0.7em;
}
.scrollable-md {
  max-height: 450px;
  overflow: scroll;
}