<md-dialog aria-label="{{recArea.RecAreaName}}" flex="100">
  <form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{recArea.RecAreaName}} ({{recArea.FACILITY.length}}) </h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="hide()">
        <md-icon md-svg-src="images/cross106.svg" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;">
    <md-card>
      <md-card-content>
        {{recArea.RECAREAADDRESS[0].RecAreaStreetAddress1}} <br/>
        {{recArea.RECAREAADDRESS[0].City}}, {{recArea.RECAREAADDRESS[0].AddressStateCode}}   {{recArea.RECAREAADDRESS[0].PostalCode}} <br/>
        {{recArea.RecAreaEmail}}<span flex></span> {{recArea.RecAreaPhone}}
      </md-card-content>
    </md-card>
    <md-chips>
      <md-chip>
        ACTIVITY: {{recArea.ACTIVITY.length}}
      </md-chip>
      <md-chip>
        FACILITY: {{recArea.FACILITY.length}}
      </md-chip>
      <md-chip>
        LINK: {{recArea.LINK.length}}
      </md-chip>
      <md-chip>
        MEDIA: {{recArea.MEDIA.length}}
      </md-chip>
      <md-chip>
        EVENT: {{recArea.EVENT.length}}
      </md-chip>

    </md-chips>

    <md-card><md-card-content class="ra-card" ng-bind-html="recArea.RecAreaDescription"></md-card-content></md-card>

  </md-dialog-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="answer('not useful')" >
     Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" style="margin-right:20px;" >
      Useful
    </md-button>
  </div>
  </form>
</md-dialog>

